# object files
*.dSYM
*.o

# lab manual files
*.pdf
*.zip
*.docx

# specific dev tool files and lab examples
pth_*
omp_*

#executables
matrixgen
datagen
data_output

#logging and submission stuff
*.txt
!web-Stanford.txt
!task*.txt
